Source: cl-bibtex
Section: devel
Priority: optional
Maintainer: Matthias Koeppe <mkoeppe@mail.math.uni-magdeburg.de>
Build-Depends-Indep: debhelper (>> 4.0.0)
Standards-Version: 3.5.8.0

Package: cl-bibtex
Architecture: all
Depends: common-lisp-controller (>= 3.37), cmucl
Description: Replacement for BibTeX, written in Common Lisp
 This is a compatible replacement for the BibTeX program, written in
 Common Lisp.  The aim is to enable the user to format bibliographic
 entries using Common Lisp programs, rather than using the stack
 language of BibTeX style files.
 .
 It contains an interpreter for BibTeX style files, so that old BibTeX
 styles can also be used with CL-BibTeX.  It also contains a compiler
 that translates BibTeX style-files into comprehensible Common Lisp
 programs.  The resulting programs can serve as a starting point for
 newly developed styles.
